//.critical {
//  color: #FF0053 !important;
//}
//
//.major {
//  color: #F2994A !important;
//}
//
//.minor {
//  color: #4BA0C4 !important;
//}
//
//.warning {
//  color: #F2C94C !important;
//
//}

.alarm-header {
  float: left;
  height: 70px;
  width: 100%;
  background: #FCFCFC;
  padding: 0 60px;
  display: table;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  div {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #828282;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.total-area {
  float: left;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9991;
}

.list-area {
  float: left;
  width: 100%;
  height: calc(100% - 70px);
  overflow: auto;
  padding: 0 30px;
}

.alarm-row {
  float: left;
  width: 100%;
  height: 71px;
  border-bottom: 1px solid #F2F2F2;
  font-family: Roboto, 'Open Sans', sans-serif;
  display: flex;
  .severity-icon {
    float: left;
    height: 100%;
    width: 80px;
    padding: 15px 16px 15px 26px;
    flex-grow: 0;
  }
  .error-type {
    float: left;
    height: 100%;
    min-width: 230px;
    width: 50%;
    padding: 14px 0;

    .domain-error {
      font-size: 18px;
      font-weight: 400;
    }
    .error-description {
      color: #828282;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .error-module {
    float: left;
    height: 100%;
    min-width: 190px;
    width: 20%;
    padding: 14px 0;
    .module {
      width: 100%;
      float: left;
      text-align: right;
      color: #4F4F4F;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .service {
      float: right;
      font-size: 12px;
      font-weight: 500;
      color: #909090;
      width: 100%;
      text-align: right;
    }
  }
  .error-time {
    float: left;
    height: 100%;
    min-width: 180px;
    width: 25%;
    padding: 14px 0;
    .time {
      width: 100%;
      float: left;
      text-align: right;
      color: #4F4F4F;
      font-weight: 500;
    }
    .appearance {
      float: left;
      width: 100%;
      font-size: 12px;
      font-weight: 500;
      color: #909090;
      text-align: right;
    }
  }
}

.content-area {
  float: left;
  width: calc(100% - 240px);
  height: calc(100% - 55px);
  position: relative;
  z-index: 99;
}

.row-selected {
  background: #ffffff !important;
  .bg-critical {
    background: #FF0053 !important;
  }
  .bg-major {
    background: #F2994A !important;
  }
  .bg-minor {
    background: #4BA0C4 !important;
  }
  .bg-warning {
    background: #F2C94C !important;
  }
  .text-area {
    .critical {
      color: #FF0053 !important;
    }
    .major {
      color: #F2994A !important;
    }
    .minor {
      color: #4BA0C4 !important;
    }
    .warning {
      color: #F2C94C !important;
    }
  }
}

.error-type {
  .critical {
    color: #FF0053 !important;
  }
  .major {
    color: #F2994A !important;
  }
  .minor {
    color: #4BA0C4 !important;
  }
  .warning {
    color: #F2C94C !important;
  }
}

.side-menu {
  float: left;
  width: 240px;
  height: calc(100% - 55px);
  position: relative;
  z-index: 99;
  background: #F5F6FA;
  .menu-row {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 18px 0;
    float: right;
    cursor: pointer;
    transition: 300ms;
    user-select: none;
    &:hover {
      background: rgba(255, 255, 255, 0.6);

    }

    .color-bar {
      height: 21px;
      width: 3px;
      float: right;
      margin: 6px 16px 6px 0;
      background: #828282;
    }
    .text-area {
      float: right;
      height: 100%;
      width: 140px;
      .title {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        color: #828282;
      }
      .subtitle {
        font-size: 11px;
        color: #4F4F4F;
        line-height: 11px;
      }
    }
    .value-area {
      float: right;
      font-size: 26px;
      font-weight: 600;
      color: #4F4F4F;
      margin-right: 16px;
    }
  }
  .header-row {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: table;
    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #828282;
      font-family: Roboto, 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.alarms-tabs-area {
  float: left;
  width: 100%;
  height: 55px;
  position: relative;
  z-index: 100;
  background: linear-gradient(270.95deg, #F8F8F8 29.89%, #FFFFFF 96.84%);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  .tab-area {
    height: 100%;
    width: 170px;
    float: left;
    display: table;
    cursor: pointer;
    transition: 250ms;
    color: #555555;
    border-top: 3px solid #EB5757;
    &:hover {
      background: rgba(235, 87, 87, 0.8);
      color: #FFFFFF !important;
    }
    .text-area {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      font-family: "Open Sans", "Roboto", sans-serif;
    }
  }
  .selected {
    border-bottom: 3px solid #EB5757;
    border-top: none;
    background: #F4F4F4;
    &:hover {
      //background: #ffffff;
      //color: #555555 !important;
    }
  }
}
.full-content-space {
  float: left;
  height: 100%;
  width: 100%;
}