/* The CSS */
.card-select-2 {
  position:relative;
    
  select {
    z-index:20;
    padding: 0px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: none;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    top: -14px;
    position: relative;
    height: 40px;
    option {
      padding:10px;
    }
  }

  &:after {
    z-index:10;
    content: '';
    position: absolute;
    right: 1px;
    bottom: 35px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #888;
    clear: both;
  }
}
/*

*****************

*/

.margin-top-mi7px
{
    margin-top: -7px !important;
}

.dev_field_filter{
    margin-top: -5px;
}

.icon-marker {
  padding: 3px;
  margin: 0 auto;
  border: 2px solid #FFFFFF;
  width: 20px !important;
  height: 20px !important;
  // box-shadow: 0 0 7px 6px lightgray;
  border-radius: 50%;
}

.bg-red{
  background: #D23F3F;
}
.bg-true-black {
  background: #000;
}
.bg-black{
  background: #2c3e50;
}
.bg-orange{
  background: #F89406;
}
.bg-light-blue{
  background: #6BB9F0;
}
.bg-blue{
  background: #19B5FE;
}
.bg-greyish-blue{
  background: #4B77BE;
}
.bg-dark-blue{
  background: #3A539B;
}
.bg-medium-gray {
  background: #949494;
}

.bg-tracking-marker{
  background: #3388ff;
  width: 10px !important;
  height: 10px !important;
}

.no-device-configured{
  padding-top: 38px;
  display: block;
    color: #9e9e9e;
  font-size: 200%;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
}

.no-data-notification {
  width: 100%;
  display: block;
  text-align: center;
  color: #9e9e9e;
  font-size: 13px;
  font-family: "Cuprum", sans-serif;
}

.specific-attr {
  padding-top: 30px;

  .bg-gray {
    background: #f7f7f7;
    padding: 11px;
    border-radius: 9px;
  }
}

.attr-box {
  border-bottom: 1px solid $gray;
  padding: 8px 0px 19px 0px;
  margin-left: 10%;
  display: inline-block;
  width: 80%;

  .bg-gray{
    background: #fcfcfc;
    padding: 8px 0px 0px 17px;
    border-radius: 9px;
    width: 100%;
  }

  .fix-inputs {
    margin: 0px !important;
    margin-top: -15px !important;
  }
  .fix-value {
    margin-top: -15px;
  }

  .attr-title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: $almost-black;
    padding-bottom: 17px;
  }

  .attr-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $black;
  }

  .attr-type {
    font-family: "Cuprum", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: $dark-silver;
    padding-bottom: 10px;
  }
}

.device-frame {
  .img {
    padding: 40px 0px 0px 10px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .header {
    padding: 20px 10px;

    label {
      color: $black;
      font-family: "Raleway", sans-serif;
      position: relative;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.pb160px {
  padding-bottom: 160px;
}

.data-frame {
  overflow: auto;
  height: 100vh;
  padding-bottom: 20px !important;
}

.template-frame {
  background: #f6f7fb;
  height: 100vh;
  overflow: auto;

  .header {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    padding-top: 41px;
    color: $gray;
  }

  .body {
    text-align: center;
  }

  .template-card {
    width: 180px;
    height: 86px;
    background: linear-gradient(119.02deg, #28807e 0%, #16a085 100%);
    border-radius: 2px;
    position: relative;
    display: inline-block;
    margin: 10px;
    overflow: auto;
    padding: 0px 10px;

    .remove-layer {
      position: absolute;
      cursor: pointer;
      right: 0px;
      top: 0px;
      height: 100%;
      width: 40px;
      padding-top: 31px;
      background: #137363;
      i {
        color: $white;
        font-size: 18px;
      }
    }

    .empty-layer {
      cursor: pointer;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }

    .active-layer {
      position: absolute;
      left: 0px;
      cursor: pointer;
      top: 0px;
      opacity: 0.8;
      background-color: rgba(42, 42, 42, 0.49);
      text-align: center;
      font-size: 55px;
      width: 100%;
      height: 100%;

      i {
        color: $white;
      }
    }

    .template-name {
      color: $white;
      font-family: "Open Sans", "Roboto", sans-serif;
      font-style: normal;
      color: $white;
      display: block;
      height: 100%;
      text-align: center;
      padding-top: 17px;
      font-weight: bold;
      font-size: 17px;
    }

    .space-p-r {
      padding-right: 40px;
    }
  }
}

.fix-map-bug{
    height: 100%;
    width: 100%;
    padding-top: 2px;
    position: fixed;
    .flex-wrapper
    {
      height: 100%;
      // margin-top: 3px;
    }
}


.cmenu
{
  i{
    position: absolute;
    left: 10px;
    font-size: 20px;
  }

  img{
    width: 19px;
    position: absolute;
    left: 10px;
    bottom: 11px;
  }
}

.contextMenu {
  z-index: 410;
  position: fixed;
  background: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);



  &--option {
    padding: 12px 70px 12px 40px;
    cursor: default;
    color:#2c3e50;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    &:hover {
      background: #2c3e50;
      color: white;

      img{
        -webkit-filter: brightness(3.0);
        filter: brightness(3.0);
      }
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }

  &--separator {
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: 0 0 0 0;
  }
}
/* animations */
@keyframes opa-hei-90px {
    from {opacity: 0.2;height:10px;}
    to {opacity: 1;height:90px;}
}

@keyframes to-show {
  from {height: 0;}
  to {height: 90px;}
}
@keyframes to-hide {
  from {height: 90px;}
  to {height: 0;}
}

/* animations for ReactCSSTransitionGroup */
/* begin */
.devicesSubHeader-enter {
  animation-name: to-show;
  animation-duration: 500ms;
  opacity: 0.5;
}

.devicesSubHeader-enter.devicesSubHeader-enter-active {
  opacity: 1;
  transition: 500ms ease-in-out;
}

.devicesSubHeader-leave {
  animation-name: to-hide;
  opacity: 1;
}

.devicesSubHeader-leave.devicesSubHeader-leave-active {
  animation-duration: 500ms;
  opacity: 0.5;
  transition: 350ms ease-in-out;
}
/* end */


.show-dy{
  visibility:visible;

}

.hide-dy
{
  visibility: hidden;
}

.devicesSubHeader {
  color: #2c3e50;
  height: 55px;
  margin: 0;
  z-index: 1000;
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: all 500ms ease;
  padding: 8px 0;
  background: linear-gradient(270.95deg, #F8F8F8 29.89%, #FFFFFF 96.84%);
  border-top: solid 1px rgba(0, 0, 0, 0.05);

  .main-title {
    font-family: "Raleway", sans-serif;
    padding-left: 4em;
    position: relative;
    font-size: 16px;
  }

  .header-info {
    position: relative;
    .title {
      font-family: "Open Sans", sans-serif;
      font-size: 10pt;
      color: $silver;
    }

    .subtitle {
      font-family: "Droid Sans", sans-serif;
      font-size: 12pt;
      color: $dark-silver;
    }
  }

  .btn-flat {
    top: 15px;
  }
}

.deviceCanvas {
  padding-top: $page-header-size + 5px;
  top: -50px;
}

.leaflet-container {
  height: 100%;
}

.mapOptions {
  position: absolute;
  left: 60px !important;
  z-index: 450;
  top: 13px;
  cursor: pointer;

  .mapView {
    background-color: white;
    color: black;
    font-size: 1em;
    width: 50px;
    height: 25px;
    padding: 5px;
    border-right: 1px solid #bdbdbd;
  }

  .satelliteView {
    background-color: white;
    color: black;
    font-size: 1em;
    width: 65px;
    height: 25px;
    position: relative;
    top: -25px;
    left: 50px;
    padding: 5px;
  }
}

.deviceMapCanvas {
  height: 100%;
  overflow: auto;
  display: inline-flex;
  > div {
    height: auto;
    display: inline-block;
  }

  .row {
    margin: 0;
    width: 100%;
  }
}

.deviceMapCanvas-map {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.device-painel {
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.98);
  right: 0;
  display: inline-block;
  top: 0;
  width: 400px;
  box-shadow: 10px 0px 50px #000000;
}

.device-painel-body {
  overflow: auto;
  height: 100%;
}
.list-of-devices {
  float: left;
  height: 100%;
  width: 100%;
  position: relative;
  animation: fadein 200ms;
}

.device-list {
  width: 100%;
  height: 100%;
  float: right;
  margin: 0;

  .main-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    padding: 20px 10px 6px 10px;
    color: #b3b3b3;
  }

  .info-header {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    float: left;
    font-weight: bold;
    padding-bottom: 10px; 
    
    .title {
      font-family: "Roboto", sans-serif;
      color: #a2a2a2;
    }

    .subtitle {
      font-family: "Roboto", sans-serif;
      color: #a2a2a2;
      font-weight: 400;
      font-size: 13px;
    }

    .device-list-actions {
      position: relative;
      a {
        color: #a2a2a2;
      }
      .action-hide {
        font-family: "Roboto", sans-serif;
        color: #a2a2a2;
        font-size: 0.8em;
      }

      .action-show {
        font-family: "Roboto", sans-serif;
        color: #a2a2a2;
        font-size: 0.8em;
      }
    }
  }

  .deviceCanvas {
    width: 100% !important;
    height: calc(100% - 60px) !important;

    .background-info {
      float: left;
      width: 100%;
      bottom: 0;
      right: 0;
      cursor: pointer;
      background-color: #fafafa;
      a {
        font-family: "Open Sans", sans-serif;
        color: #dadada;
        font-weight: bold;
        font-size: 0.8em;
      }
    }

    .row {
      margin: 0;
      .lst-entry-title {
        // padding: 0 10px;
        padding-top: 10px;
        padding-left: 20px;
        height: 60px;
        transition: all linear 200ms;
        border-bottom: 1px solid #e2e2e2;
        // cursor: pointer;

        /*
        .operations{
            padding: 12px 70px 12px 40px;
            cursor: default;
            color: #2c3e50;
            text-transform: uppercase;
            font-weight: 500;
            font-family: Ubuntu, sans-serif;
            font-size: 11px;
        }
        */
        
        .img {
          width: 58px;
          padding: 10px;
          margin: 0 10px;
          img {
            width: 100%;
          }
        }

        .waves-effect {
          overflow: visible !important;
          width: 90%;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .user-label {
          text-transform: uppercase;
          padding-top: 6px;
          font-family: "Open Sans", sans-serif;
          color: #4f4f4f;
          font-weight: normal;
        }
        .label {
          font-family: "Open Sans", sans-serif;
          color: #4f4f4f;
          font-weight: bold;
        }
        #device-view {
          position: relative;
          text-align: center;
          top: -28px;
          padding: 20px;
          float: right;
          i {
            color: #4f4f4f;
          }
        }
      }
    }
  }
}

.div-btn-side-painel {
  position: absolute;
  right: 20px;
  top: 85px;
  z-index: 1001;

  &.push-left {
    right: 386px;
  }
}

.toggle-icon {
  width: 17px;
  cursor: pointer;
  height: auto;
  margin: 0 3px;
  float: left;

  i {
    font-size: 21px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.toggle-map {
  width: 56px;
  display: inline-block;
}

.box-sh {
  padding: 0px;
  padding-left: 20px;
  width: auto;
  position: relative;
  height: 100%;
  float: right;
}

.box-sh-item.active {
  border-bottom: 5px solid #425a8d;
  color: #425a8d;
}

.box-sh-item {
  padding: 16px 10px 10px 10px;
  width: auto;
  border-bottom: 5px solid #bdbdbd;
  color: #969696;
  height: 100%;
  float: left;
  margin: 0 10px;

  .icon {
    width: 26px;
    float: left;
    height: 100%;
    position: relative;
    padding-top: 3px;

    img {
      width: 100%;
    }
  }

  .text {
    padding-left: 10px;
    float: left;
    text-transform: uppercase;
    margin: 7px;
  }
}

@media screen and (max-width: 600px) {
  .title-area {
    .page-subtitle {
      display: none;
    }
  }

  .devicesSubHeader {
    .main-title {
      padding-left: 0em;
    }

    .btn-flat {
      position: relative;
      right: -20vw;
      width: 25%;
    }
  }
  .deviceCanvas {
    .lst-entry-body {
      .metric {
        &.last {
          .metric-label {
            left: 0px;
          }
        }
        .metric-label {
          position: relative;
          left: -5px;
        }
      }
    }
  }
}

.full-device-area{
    height: 100%;
    width: 100%;
    z-index: 9991;
    overflow: scroll;
    top: 117px;
    margin: 0;
    padding-bottom: 120px;
    
    &>div
    {
      width: 100%;
      height: 100%;
      float: left;
    }
}

.h90 {
  height: 90px !important;
}

.flex-container {
  list-style: none;
  display: flex !important;
  flex-flow: row wrap !important;
}

.device-card-area {
  height: 100%;
  float: left;
}