.dropzone
{
    width: 100%;
    cursor: pointer;
    font-family: 'Raleway';

    & > div{
        width: 100% !important;
        height: 75px !important;
        padding: 0px 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        
        p {
            font-size: 15px;
        }
    }
}

.body-form
{
    .header2{
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 17px;
        color: #7C7C7C;
    }
}

.box-image-info
{
    .info
    {

    }

    .description
    {
        .line
        {
            height: 150px;
            display: inline-block;
            width: 100%;

            .label
            {
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 12px;
                text-align: right;
                color: #7C7C7C;
            }

            .value
            {
                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 13px;
                color: #4F4F4F;
            }
        }
    }
}