.flows-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;

  @import 'red/style';

  #main-container {
    top: 0 !important;
    height: calc(100% - 115px);
  }

  #workspace {
    right: 0;
  }

  #editor-stack {
    right: 250px;
  }

  #chart {
    top: 0;
    bottom: 0;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: initial;
    opacity: initial;
  }

  .palette-scroll {
    top: 0;
  }

  .leaflet-clickable {
    cursor: pointer;
  }

  .leaflet-marker-pane .leaflet-clickable {
    pointer-events: auto !important;
  }

  .leaflet-dragging .leaflet-container,
  .leaflet-dragging .leaflet-clickable {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor:  -moz-grabbing;
  }

  .expanded {
    width: auto;
  }
}

/* animations for ReactCSSTransitionGroup */
/* begin */
.flowsSubHeader-enter {
  opacity: 0.2; height:0;
}

.flowsSubHeader-enter.flowsSubHeader-enter-active {
  opacity: 1; height: 98px;
}

.flowsSubHeader-leave {
  opacity: 0.8; height: 98px;
}

.flowsSubHeader-leave.flowsSubHeader-leave-active {
  padding-top: 0;
  opacity: 0.2; height:0;
}
/* end */


.show-dy{
  visibility:visible;
  
}

.hide-dy
{
  visibility: hidden;
}

.flowsSubHeader {
  background-color: #fff;
  color: #2c3e50;
  // height: 90px;
  margin: 0;
  z-index: 1000;
  overflow: hidden;
  width: 100%;
  position: relative;
//  -webkit-animation-name: opa-hei-90px; /* Safari 4.0 - 8.0 */
  // -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  // animation-name: opa-hei-90px;
  // animation-duration: 1s;
  transition: all 500ms ease;
  padding-top: 10px;

.main-title {
  font-family: "Raleway", sans-serif;
  padding-left: 4em;
  position: relative;
  font-size: 16px;
}

.header-info {
  position: relative;
  .title {
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    color: $silver;
  }

  .subtitle {
    font-family: "Droid Sans", sans-serif;
    font-size: 12pt;
    color: $dark-silver;
  }
}

.btn-flat {
  top: 15px;
}
}
