.btn-light-2
{
    font-size: 14px !important;
    color: lightslategray !important;

  &:hover,&:focus{
    padding: 7px;
    background-color: #378992 !important;
    color: white !important;
  }
}
@media screen and (max-width: 900px){
  .searchBtn{

    margin-right: 19px;
    color: #2c3e50;
    border-radius: 50%;
    display: inline-flex;
    padding: 9px;
    transition: ease 500ms;
    cursor: pointer;

    cursor:pointer;
    &:hover{
        color: #ffffff;
        background: #999;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
    }

  }
}
@media screen and (min-width: 901px){
.searchBtn{

    margin-right: 19px;
    color: #2c3e50;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    padding: 9px;
    transition: ease 500ms;
    cursor: pointer;

    cursor:pointer;
    &:hover{
        color: #ffffff;
        background: #999;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
    }

}
}
.btn-red
{
  &:hover{
    background-color: #eb5757;
  }
}

.new-btn-circle
{
      position: relative;
      width: 36px;
      height: 36px;
      background: $white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $dark-gray;
      border-radius: 50%;
      padding: 0px;
      margin: 0px 8px;

      i{
        font-size: 14px;
      }

      &:hover{
        color: $white;
      }
}

a.new-btn-flat
{
  padding-top:6px !important;
}

.new-btn-flat
{
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: center;
  height: 31px;
  padding-top: 7px;
  border-radius: 4px;
  padding-right: 40px;
  padding-left: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  position: relative;
  float: right;
  cursor: pointer;
  user-select: none;
  &.red{
    background: linear-gradient(269.31deg, #F88383 9.21%, #F26F6F 42.78%, #EB5757 84.23%);
  }
  
  &.style-2
  {
    text-transform: uppercase;
    box-shadow: none;
    width: 102px;
    text-align: center;
    padding: 0px;
  }

  &.main:hover {
      background: #d2413f;
      color: #ffffff;
      border: 2px solid #eb5757;
      border-radius: 4px;
  }

  &.main {
      background: #eb5757;
      color: #ffffff;
      border: 2px solid #ce1515;
      border-radius: 4px;
  }

  &.secondary
  {
    background: white;
    color: #757575;
    border: 2px solid #a7a7a7;
    border-radius: 4px;  }

  &.secondary:hover
  {
      background: #d2413f;
      color: #ffffff;
      border: 2px solid #eb5757;
      border-radius: 4px;
  }

  &.red:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
    background: $white !important;
    color: $almost-black;
  }

  i {
    position: absolute;
    right: 16px;
    top: 10px;
  }
}

.btn-flat {
    /* font-weight: bolder; */
    /* font-size: 10px !important; */
    letter-spacing: .5px;
    font-weight: bolder;
    font-size: 13px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    height: 27px;
    line-height: 28px;
    padding: 0 2rem;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #5891e1;
    margin-left:10px !important;

    &.btn-ciano {
       background-color: $ciano;
    }

    &.btn-red {
       background-color: $red;
    }
 }

 .btn-flat i {
   color: #fff !important;
 }

 .btn-flat:hover {
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
     background-color: rgba(0, 0, 0, 0.1);
     color: gray !important;
 }


.btn-flat-minimal {
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: .5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-circle {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 50%;
  background: #5eaac0;
  color: white;
  border-radius: 50%;
  padding: 0px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;

  i {
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 15px;
  }
}

.input-field
{
  bottom: 0px !important;
}
