.new-btn-circle
{
      position: relative;
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: gray;
      border-radius: 50%;
      padding: 0px;
      margin-bottom: 10px;
      margin: 0px 8px;
}

.new-btn-flat
{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: center;
  height: 31px;
  padding-top: 7px;
  border-radius: 4px;
  padding-right: 45px;
  padding-left: 27px;
  background: linear-gradient(269.31deg, #F88383 9.21%, #F26F6F 42.78%, #EB5757 84.23%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  transition: all .4s ease 0s;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
    background: linear-gradient(269.31deg, #F2994A 9.21%, #FF7800 84.23%);
  }

  i {
    position: absolute;
    right: 16px;
    top: 10px;
  }
}

.btn-flat {
    /* font-weight: bolder; */
    /* font-size: 10px !important; */
    letter-spacing: .5px;
    font-weight: bolder;
    font-size: 13px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    height: 27px;
    line-height: 28px;
    padding: 0 2rem;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #5891e1;
    margin-left:10px !important;

    &.btn-ciano {
       background-color: $ciano;
    }

    &.btn-red {
       background-color: $red;
    }
 }

 .btn-flat i {
   color: #fff !important;
 }

 .btn-flat:hover {
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
     background-color: rgba(0, 0, 0, 0.1);
     color: gray !important;
 }


.btn-flat-minimal {
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: .5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-circle {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 0px 10px;
  border-radius: 50%;
  background: #5eaac0;
  color: white;
  border-radius: 50%;
  padding: 0px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;

  i {
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 15px;
  }
}

.input-field
{
  bottom: 0px !important;
}
