
.login-area-left-side {
  background-color: $gray;
  position: absolute;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
  left:0 !important;
  color: $almost-black;
  height: 100%;
  top: 0px;
  padding-top: 100px !important;
}

.login
{
  height:100vh;

  &.bg-left
  {
    background: url(/images/login/poly-left.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left;
  }

    .forget-password
    {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-weight: normal;
      line-height: normal;
      text-align: right;
      font-size: 10px;
    }

    .login-page-title {
      // font-size: 35px;
      font-family: "Cuprum", "Roboto", sans-serif;
      // font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 25px;
      color: $magenta;
    }

   .login-page-subtitle {
      font-family: "Open Sans", "Raleway", sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 16px;
      color: $black;
    }


   i.material-icons {
      color: $magenta;
      padding-top: 10px ;
      // border-bottom: 2px white solid;
      font-size: 18px;
      padding-bottom: 17px;
      text-align: right;
    }

   .input-field .prefix {
      color: $magenta;
      padding-top: 20px ;
    }

    .bg-right
    {
      padding-top: 98px;
      height: 100%;
      background: url(/images/login/poly-right.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right -222px top -271px;
    }

    .right-side
    {
        height: 100%;
        position: absolute;
        top: 10px;
        right: 0px !important;


          .dojot-logo
          {
            position: absolute;
            width: 124px;
            right: 0px !important;
            top: 64px;

            img{
              width: 100%;
              height: 100%;
            }
          }

          .slogan{
            right: 23px;
            top: 156px;
            position: relative;
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            line-height: 37px;
            font-size: 18px;
            text-align: right;
            letter-spacing: 0.05em;
            color: $white;
          }
    }

    .left-side
    {
        display: inline-block;
        width: 470px;
    }

}


.login-area-left-side p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  color: #454545;
}

/* Right side */
.login-area-right-side {

  /* label underline focus color */
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid $magenta !important;
    box-shadow: none !important;
  }

  /* label underline focus color */
  input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid $magenta !important;
    box-shadow: none !important;
  }

}

.login-area-right-side .margin-top {
  padding-top: 25%;
}

.login-area-left-side .margin-top {
  padding-top:60%;
}

/* label color */
.login-area-right-side .input-field label {
  color: $black;
  // font-weight: bold;
}


.login-area-right-side .btn-flat:hover {
  background-color: #cecece;
}

@media only screen and (max-width: 600px) {
  .login-area-left-side{
    display: none;
  }

  .login-area-right-side {
    padding-left: 10% !important;
    padding-right: 20% !important;
  }
}

.login-page-error {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-weight: bold;
  color: $dark-gray;
  padding-left: 5%;
  float: left;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:  3%;
  padding-bottom:  3%;
}

.login-page-error i.material-icons {
  color: $dark-gray;
  float: right;
  padding-top: 2px;
  padding-bottom: 0;
}

.login {
  .icon img {
    height: 100px;
    position: relative;
  }

  .info {
    position: relative;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
  }
}

.logout-page {
  padding-top: 20% !important;
}

@media screen and (max-width: 800px){
  .logout-page {
    padding-top: 10% !important;
  }
}

.logout-page .logout-page-subtitle {
  font-size: 130%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
  padding-left: 17%;
  margin-bottom: 5%;
}

.logout-page .logout-page-info {
  font-size: 150%;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: left;
  width: $right-sidebar-width - $right-sidebar-margin;
}

.logout-page .logout-page-label {
  font-size: 80%;
  font-family: "Raleway", sans-serif;
  color: #fff;
  line-height: 80%;
  padding-left: 5px;
}

.logout-page .logout-page-buttons {
  margin-top: 13%;
  padding-left: 3%;
}

.logout-page .logout-page-buttons a {
  font-size: 100%;
}

.logout-page .logout-page-photo {
  padding-left: 35%;
  margin-bottom: 5%;
}



@media only screen and (max-width: 1150px) {

  .right-side .slogan
  {
    display:none !important;
  }

}
