
.login-area-left-side {
  background-color: $gray;
  // height: 100%;
  position: absolute;
  overflow: auto;
  // top: calc(50% - 150px);
  font-family: Open Sans,sans-serif;
  left:0 !important;
  color: $almost-black;
  height: 100%;
  top: 0px;
  padding-top: 100px !important;
}

.login-area-left-side p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  color: #454545;
}

/* Right side */
.login-area-right-side {
  background: linear-gradient(to right, #3d66bf, #41819c);
  color: #fff;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  font-family: "Raleway", sans-serif;
  right:0 !important;
  padding-top: 100px !important;

  /* label underline focus color */
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }

  /* label underline focus color */
  input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }
}

.login-area-right-side .margin-top {
  padding-top: 25%;
}

.login-area-left-side .margin-top {
  padding-top:60%;
}

/* label color */
.login-area-right-side .input-field label {
  color: #fff;
  font-weight: bold;
}

.login-area-right-side i.material-icons {
  color: #fff;
  padding-top: 10px ;
  // border-bottom: 2px white solid;
  font-size: 18px;
  padding-bottom: 17px;
  text-align: right;
}

.login-area-right-side .input-field .prefix {
  color: #fff;
  padding-top: 20px ;
}

.login-area-right-side .login-page-title {
  font-size: 35px;
  font-family: "Cuprum", "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
}

.login-area-right-side .login-page-subtitle {
  font-size: 105%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
}

.login-area-right-side .btn-flat {
  background-color: #fff;
  color: #3d66bf;
}

.login-area-right-side .btn-flat:hover {
  background-color: #cecece;
}

@media only screen and (max-width: 600px) {
  .login-area-left-side{
    display: none;
  }

  .login-area-right-side {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

.login-page-error {
  color: #000;
}

.login {
  .icon img {
    height: 100px;
    position: relative;
  }

  .info {
    position: relative;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
  }
}

.logout-page {
  padding-top: 20% !important;
}

.logout-page .logout-page-subtitle {
  font-size: 130%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
  padding-left: 17%;
  margin-bottom: 5%;
}

.logout-page .logout-page-info {
  font-size: 150%;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: center;
}

.logout-page .logout-page-label {
  font-size: 80%;
  font-family: "Raleway", sans-serif;
  color: #fff;
  line-height: 80%;
  padding-left: 5px;
}

.logout-page .logout-page-buttons {
  margin-top: 13%;
  padding-left:3%;
}

.logout-page .logout-page-photo {
  padding-left: 35%;
  margin-bottom: 5%;
}

.logout-page a {
  font-size: 50%;
}
