.modal-background{
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  padding:24px;
}

.recovery-password-modal{
  position: fixed;
  left: 40%;
  top: 160px;
  z-index: 10002 !important;
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5);

  .recovery-password-title{
    height: 25%;
    padding: 40px 40px 0px 40px;
    font-family: "Cuprum", "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 25px;
    color: $magenta;
  }

  .recovery-password-body{
    height: 75%;
    padding: 0px 0px 0px 50px;
    .recovery-password-message{
      font-size: 1.140em;
      position: relative;
      color: #4F4F4F;
    }
  
    .input-field-username{
      width: 100%;
      height: 5%;
      position: relative;
      right: 4%;
    } 
  }
}

.sent-email-message{
  position: fixed;
  left: 40%;
  top: 300px;
  z-index: 10002 !important;
  width: 500px;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5);

  .sent-email-message-title{
    font-family: "Cuprum", "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: $magenta;
    height: 50px;
    padding: 10px 0px 10px 10px;

    i{
      font-size: 1.5em;
      font-weight: bold;
      position: relative;
      bottom: 10px;
      left: 15px;
      cursor: pointer;
    }

  }

  .sent-email-message-body{
    font-size: 1.140em;
    position: relative;
    color: #4F4F4F;
    height: 100px;
    padding-left: 20px;
  }
}

.confirm-modal {
  position: fixed;
  left: 40%;
  top: 160px;
  z-index: 10002 !important;
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5);

  .confirm-modal-head{
    height: 75%;
    padding: 50px;

    i{
      font-size: 6em;
      color: #D23F3F;
      padding-top: 10px;
    }
    .message{
      .message-title{
        font-size: 2em;
        color: #4F4F4F;
        text-transform: capitalize;
      }

      .message-subtitle{
        font-size: 1.140em;
        color: #828282;
      }
    }
  }

  .confirm-modal-footer{
    height: 25%;
    padding-right: 150px;
    padding-left: 100px;
  }

  #btn-dismiss{
    width: 120px;
    height: 35px;
    font-weight: bold;
    color: #4F4F4F;
    font-size: 1.2em;

    &:hover{
      color: #000000;
      background-color: #f2f2f2;
    }
  }

  #btn-action{
    width: 120px;
    height: 35px;
    background-color: #D23F3F;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 25px;
  }
}

.confirm-password-modal{
  position: fixed;
  left: 40%;
  top: 160px;
  z-index: 10002 !important;
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5); 
  .confirm-password-title{
    height: 25%;
    padding: 40px 40px 0px 40px;
    font-family: "Cuprum", "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 25px;
    color: $magenta;
  }

  .confirm-password-body{
    height: 75%;
    padding: 0px 0px 0px 25px;
  }
}
