nav {
  height: 64px !important;
  background-color: $navbar-background-color !important;
  font-family: 'Asap', sans-serif;
}

nav a {
  padding-left: 40px;
  font-size: 35px;
  margin-left: 0px;
}

nav ul {
  float: right;
}

nav ul a {
  color: $teal;
  position: relative;
}

.nav-wrapper .active-element {
  color: $watermelon;
}

.nav-wrapper a.active-element:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid $watermelon;
}

.app-links {
  display: inline-block;
}
