.full-notification-area {
  height: 100%;
  width: 100%;
  z-index: 9991;
  overflow: auto;
  top: 125px;
  margin: 0 0 0 1px;

  ul {
    margin: 0;
  }

  & > div {
    width: 100%;
    height: 100%;
    float: left;
  }

  hr {
    margin: 0;
    padding: 0;
    border: rgba(196, 196, 196, 0.3) solid 1px;
  }

  .dojot-collapsible-header {
    cursor: pointer;
  }

  .dojot-collapsible-body {
    display: none;
  }

  .dojot-collapsible-body-active {
    display: block;
  }

  .card-notification {
    display: flex;
    min-height: 70px;
    z-index: 99;
    vertical-align: middle;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 15px;
    width: 100%;

    .meta-body {
      margin: 10px 0 0 150px;

      .meta-row {
        font-style: normal;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 10px;

        .main {
          font-size: 14px;
          color: #595959;
        }

        .sub {
          font-size: 12px;
          color: #BCBCBC;
        }
      }
    }

    .first-col-noti {
      background: rgba(196, 196, 196, 0.2);
      width: 150px;
      text-align: right;
      display: flex;
      color: #4F4F4F;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      line-height: normal;

      .datetime {
        white-space: nowrap;

        .date {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
        }

        .time {
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          text-align: right;
          color: rgba(79, 79, 79, 0.63);
        }
      }

      .icon-clock {
        text-align: left;
        font-size: 25px;
      }
    }

    .second-col-noti {
      font-style: normal;
      font-weight: 500;
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;
      padding: 10px 0;

      > div {
        padding: 6px 15px;
      }


      .name-row {
        text-align: right;
      }

      .info-row {
        text-align: left;
      }

      .main {
        font-size: 16px;
        color: #595959;
      }

      .sub {
        font-size: 12px;
        color: #BCBCBC;
      }

      .error {
        font-size: 12px;
        color: rgb(211, 16, 16);
      }


    }
  }

}




