
.page-header {
  height: $page-header-size;
  background-color: $porcelain;
  position: relative;
  padding-left: 4em;

  .title-area {
    position: absolute;
    top: 20%;

    font-weight: bold;
  }

  .page-title {
    // should be droid-sans
    font-size: 105%;
    font-family: "Roboto", sans-serif;
    padding-top: 6px;
  }

  .page-subtitle {
    // should be open-sans
    color: $silver;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    position: relative;
    top: -6px;
  }

  .page-actions {
    // positioning only! (contents are defined by the component's children)
    position: absolute;
    right: 0;
    bottom: 0;
    width: 66%;
    padding: 0 2em;
    display: inline;

    > * {
      float:right;
    }
  }
}
