.recovery-password-page-title{
  font-family: "Cuprum", "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 25px;
  color: #EB5757;
}

.recovery-password-page-subtitle{
  font-family: "Open Sans", "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #2c3e50;
}

i.material-icons {
   color: $magenta;
   padding-top: 10px ;
   // border-bottom: 2px white solid;
   font-size: 18px;
   padding-bottom: 17px;
   text-align: right;
 }

.input-field .prefix {
   color: $magenta;
   padding-top: 20px ;
 }

 /* Right side */
 .recovery-password-area-right-side {

   /* label underline focus color */
   input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
     border-bottom: 1px solid $magenta !important;
     box-shadow: none !important;
   }

   /* label underline focus color */
   input-field input[type=text]:focus, .input-field input[type=password]:focus {
     border-bottom: 1px solid $magenta !important;
     box-shadow: none !important;
   }

 }

 .recovery-password-area-right-side .margin-top {
   padding-top: 25%;
 }

 .recovery-password-area-left-side .margin-top {
   padding-top:60%;
 }

 /* label color */
 .recovery-password-area-right-side .input-field label {
   color: $black;
   // font-weight: bold;
 }


 .recovery-password-area-right-side .btn-flat:hover {
   background-color: #cecece;
 }
