
.sub-nav{
    // top:-70px;
    // position: relative;
    max-width: 500px;
    overflow: hidden;
    z-index: 9992;
    position: fixed;
    top: 62px;
    left: 282px;

    .nav-item{

      display: inline-block;
      // padding: 20px 0px;

      a {
        color: $black;
        padding: 0px 24px 13px 4px;
        border-radius: 2px;

        .title
        {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 11px;
          letter-spacing: 0.04em;
          text-transform: capitalize;
          padding: 0px;
          display: inline-block;
          font-weight: 600;
          color: $dark-gray;

            &:hover{
              color: $magenta;
            }
        }


        .active{
          color: #28807E;
          border-bottom: 2px solid #28807E;
        }

        .icon{
            width: 30px;
            display: inline-block;
            padding-right: 10px;
        }
      }
    }
}


*:focus{
  outline: none;
}

.nav-item
{
    .icon-prop{
      background-size: cover !important;
      width: 26px;
      height: 26px;
    }

    .icon-chip
    {
      background: url(/images/icons/chip.png);
    }

    &:hover .icon-chip
    {
      background: url(/images/icons/chip-wt.png);
    }

    .icon-bell
    {
      background: url(/images/icons/bell.png);
    }

    &:hover .icon-bell
    {
      background: url(/images/icons/bell-wt.png);
    }

    .icon-graph
    {
      background: url(/images/icons/graph.png);
    }

    &:hover .icon-graph
    {
      background: url(/images/icons/graph-wt.png);
    }

    .icon-settings
    {
      background: url(/images/icons/settings.png);
    }

    &:hover .icon-settings
    {
      background: url(/images/icons/settings-wt.png);
    }

    .icon-auth
    {
      background: url(/images/icons/auth.png);
    }

    &:hover .icon-auth
    {
      background: url(/images/icons/auth-wt.png);
    }

}



.open .sidebar {
  width: $sidebar-width;
}

.closed .sidebar
{
  width: $sidebar-width-closed-large;


  .sidebar-nav
  {
    width: 100%;

    .nav-item
    {
      width: 100%;

      .nav-link{
        padding: 0px 5px;
        padding-top: 10px;
      }
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: $sidebar-width-closed;
  height: calc(100%);
  margin-top: 0px;
  color: #fff;
  border: 0px !important;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(149.39deg, #FCFCFC 24.51%, #FCFCFC 24.51%, #FFFFFF 42.02%);

    // li:hover a{
    //     border:0px;
    //
    // }
    // li:hover a:hover{
    //     border:0px;
    // }


  .header {
    height: 120px;

    .logo-n-bars {
      position: relative;
      height: 120px;


      .closed-logo
      {
        position: absolute;
        top: 21px;
        left: 13px;
        width: 57px;
      }

      .logo
      {
        position: absolute;
        top: 21px;
        left: 13px;
        width: 164px;
      }

      .bars{
        position: absolute;
        top: 80px;
        right: 32px;
        width: 20px;
      }

      .img-bars
      {
        width: 100%;
        height: 100%;
      }
    }

    >span {
      line-height: $header-height;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      padding-left: 10px;
      font-size: 80%;
    }
  }

  .sidebar-nav {
    background: none; // override materialize
    box-shadow: none; // override materialize

    .nav-item {
      width: 100%;

      .nav-link {
        position: relative;
        padding: 10px 0px;
        border-left: 3px solid $magenta;
        height: 52px;
        transition: all .2s;

        &:hover {
          background-color: $magenta;
          transition: all .5s;

          .nav-title {
            color: $white;
          }

          .nav-desc {
            color: $white;
          }

        }
      }

      > .nav-link.active {
        background-color: $sidebar-bg-active;
        color: $black;
        border-left: 0px;

        .nav-title {
          color: $dark-gray;
        }

        &:hover {
          background-color: $magenta;
          transition: all .5s;

          .nav-title {
            color: $white;
          }

          .nav-desc {
            color: $white;
          }
        }

        &:after {
          width: 5px;
          content: " ";
          height: 52px;
          position: absolute;
          box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25);
          right: -3px;
          top:0px;
          background: $magenta;
        }
      }
    }

    .nav-icon {
      position: relative;
      right: 0;
      width: 60px;
      text-align: center;
      display: inline-block;
      float: left;
      height: 100%;
      padding-left: 16px;
      padding-top: 3px;

      img {
          width: 22px;
          height: 22px;
      }

      i {
        color: $magenta;
        position: absolute;
        right: 0;
        width: 100%
      }

      i.material-icons {
        font-size: inherit;
        line-height: normal;
        height: auto;
        font-size: 125%;
      }
    }

    .nav-title {
      font-family: Open Sans, sans-serif;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: -0.3px;
      text-transform: capitalize;
      /* font-weight: bold; */
      color: $dark-red;
      /* margin: 0 0; */
      padding: 0 0;
    }

    .nav-desc {
      margin: 0 0;
      padding: 0.2em 0;
      font-family: 'Open Sans';
      font-weight: normal;
      font-size: 10px;
      color: $dark-silver;
      letter-spacing: -0.2px;
      overflow: hidden;
    }

    .nav-2nd {
      > li {
        width: 100%;
      }
    }

    .nav-2nd-item {
      padding: 1.5em 0;
      padding-left: 15px;
      width: 100%;

      &:hover {
        background-color: $shark;
      }

      span {
        padding-left: 1em;
      }
    }

    .nav-2nd-item:before {
      font-family: 'FontAwesome';
      content: '\f0da';
      margin:0;
      color: #ccc;
    }

    .nav-2nd-item, .nav-2nd-item * {
      line-height: normal;
      height: auto;
      font-size: 8pt;
      font-weight: bold;
    }

    .nav-2nd-item a {
      display: inline-block;
      padding-left: 12px;
    }

    // .nav-2nd-item.active {
    //   color: $sidebar-fg-active;
    // }

    .nav-2nd-item.active {
      color: $sidebar-fg-active;
    }

    .nav-2nd-item.active:before {
      color: $sidebar-fg-active;
    }
  }

  .logo {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;

    img {
      width: 80%;
      margin: auto;
      display: block;
      left: 0;
      right: 0;
    }
  }
}

.content {
  padding-left: $sidebar-width-closed;
  box-sizing: border-box;
  height: 100%;
  padding-top: $header-height;
}

.open .content {
  padding-left: $sidebar-width-closed;
}

.rightsidebar {
  left: 0;
  top: #{$header-height};
  width: 100%;
  height: calc(100% - #{$header-height});
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.rightsidebarchild {
  position: fixed;
  left: calc(100% - #{$right-sidebar-width});
  top: 0;
  z-index: 999;
  width: $right-sidebar-width;
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
  color: #fff;
  overflow: auto;
  background-color: $sidebar-bg;
  box-shadow:  0 8px 10px -5px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 601px) {

  .content {
    padding-left: $sidebar-width-closed-large;
  }

  .open .content {
    padding-left: $sidebar-width;
  }

}
