.template{
  &.full-height {
    max-height: 648px;
  }
}

.new-template-wrapper{
  padding-top: 20px;
}

.pagination-wrapper{
  padding-top: 10px;
}

@keyframes opa-hei-76px {
    from {opacity: 0.2;height:10px;}
    to {opacity: 1;height:76px;}
}

.template-title-text{
  height: 100%;
  width: calc(100% - 75px);
  float: left;
  display: inline;
  font-size: 18px;

  textarea {
    float: left;
    resize: none;
    border: none;
    vertical-align: middle;
    height: 62px;
    margin: 6.5px 0;
  }
}


.show-dy{
  display: block;
  // visibility:visible;
  height: 76px;
  animation-name:  opa-hei-76px;
  animation-duration: 1s;
}

.hide-dy
{
  display: none;
  // visibility: hidden;
}

.templatesSubHeader {
    color: #2c3e50;
    margin: 0;
    z-index: 1001;
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: all 500ms ease;
    padding-top: 10px;
    background: linear-gradient(270.95deg,#F8F8F8 29.89%,#fff 96.84%);
    border-top: solid 1px rgba(0,0,0,.05);

  .main-title {
    font-family: "Raleway", sans-serif;
    padding-left: 4em;
    position: relative;
    font-size: 16px;
  }

  .header-info {
    position: relative;
    .title {
      font-family: "Open Sans", sans-serif;
      font-size: 10pt;
      color: $silver;
    }

    .subtitle {
      font-family: "Droid Sans", sans-serif;
      font-size: 12pt;
      color: $dark-silver;
    }
  }

  .btn-flat {
    top: 15px;
  }
}

.template-title-text{
  position: relative;
  bottom: 10px;
  font-size: 1em !important;
  border-bottom: none !important;
}

@media screen and (max-width: 600px) {
  .templatesSubHeader {
    .main-title {
      padding-left: 0em;
    }
  }
}

.bg-gradient-green
{
    background: linear-gradient(to right, #28807E, #16A085);
    // background: linear-gradient(90.48deg, #28807E 3.7%, #54A7D6 92.73%);
}
