.header-card-info
{

  .title
  {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: $silver;
  }

  .subtitle
  {
    font-family: 'Droid Sans', sans-serif;
    font-size: 15pt;
    color: $dark-silver;
  }


}

.lst-entry-users {
  width: 100%;
  height: 6em;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 0 !important;
  color: $dark-silver;
  border-bottom: 1px solid #f1f1f1; // TODO move this to color scheme
  // background-color: $element-background-color;

  transition: 0.3s;

  .div-img{
    width: 80px;

  }

  .div-with-img{

    width: calc(100% - (80px));
  }

  &.active {
    background-color: #fff;

    .title {
      color: #0b5394; // TODO move this to color scheme
    }
  }

  .lst-entry-users-title {
    margin-top: 0.5em;
  }

  .title {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
  }

  .subtitle {
    font-family: 'Cuprum', sans-serif;
    color: inherit;
  }

  img {
    height: 4em;
  }
}

.lst-entry-users-wrapper:hover {
  background-color: $matte !important;
  color: #fff;
}

.lst-entry-users-wrapper.active {
  background-color: #b8b8b8 !important;
  border-left: 3px solid $bluewood;
  color: #fff;
}

.lst-user-detail{
  padding: 50px;
  // padding-left: 50px;
  // padding-top: 30px;
  // padding-right: 50px;
  font-family: 'Open Sans', sans-serif;

  .photo_big
  {
    width: 80px;
    height: 80px;
  }
}

.lst-user-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  color: #0b5394;
  font-size: 185%;
}

.lst-user-title .subTitle {

   margin-top: 5px;
}

.lst-user-line {
  font-size: 130%;
  // padding-left: 50px !important;

  .field
  {
    font-family: 'Open Sans', sans-serif;
    color: $dark-silver;
  }

  .value
  {
    font-family: 'Cuprum', sans-serif;
    color: $black;
    font-size: 125%;
    padding-left: 20px;
    margin-bottom: 15px;
    display: inline-block;
  }

}

.lst-user-detail .leftButton{
  // padding-left: 50px !important;
}

.lst-user-detail .rightButton{
  // padding-right: 50px !important;
}

.subTitle {
  color: #b8b8b8;
  font-size: 125%;
  margin-bottom: 0px;
}

.initialUserMessage {
  margin-top: 25%;
  text-align: center;
  font-size: 235%;
  font-family: 'Cuprum', sans-serif;
  color: $dark-silver;

  p {
    margin: 0;
    line-height: 1.5em;
  }
}

.userCanvas  {
  $margin: 6.5%;
  width: 100% - (2* $margin) !important;

  // 82 px is the height of the inner header TODO set a fixed height for the inner header
  min-height: calc(100% - (#{$page-header-size} + 82px + 1em));

  margin: 5px $margin 10px $margin !important;
  padding-bottom: 5em !important;
  padding-top: $page-header-size + 5px;
  position: relative;
  z-index: 0;

  background-color: #f8f8f8 !important; // TODO add this to color scheme

  &.create {
    background-color: #d9d9d9; // TODO add this to color scheme
  }

  &.selected {
    background-color: #99a2aa; // TODO add this to color scheme
  }
}

#detail-area {
  background-color: #e7e7e7;

  // hack to make the detail area expand to the full height of min-height container
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: $page-header-size + 5px;
  border-left: 1px solid #d4d4d4;

  &.selected {
    background-color: #f8f8f8;
  }

  &.create {
    background-color: #fff;
  }
}

.userCanvasFooter {
  color: #b8b8b8;
  // margin-top: 30px;
  // margin-bottom: 30px;
  font-family: 'Cuprum', sans-serif;
  position: absolute;
  bottom: 1em;
  padding-right: 3%;


  a.inactive {
    color: inherit;
  }

  a {
    color: $black;
  }

}

.paddingRight10 {
  padding-right: 10px;
}

.paddingLeft10 {
  padding-left: 10px;
}

.userSubHeader {
  background-color: #fff;;
  padding: 15px 30px !important;
  font-size: 16pt;
  font-family: 'Droid Sans', sans-serif;
  color: #666;
  margin: 0;
  z-index: 1000;

  position: absolute;
  width: 100%;
  height: $page-header-size;

  .button a {
    font-size: 0.7rem;
    margin-top: 10px !important;
    color: inherit;
    height: 2em;
    line-height: 2em;
    width: 9em;
    color: #fff;
    padding: 0 1em;
    background-color: $offline;
  }
}

.marginBottom0px {
  margin-bottom: 0px !important;
}

#userMain {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
