
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-regular-webfont.eot);
    src: url(../fonts/montserrat-regular-webfont.eot?#iefix) format("embedded-opentype"),
         url(../fonts/montserrat-regular-webfont.woff) format("woff"),
         url(../fonts/montserrat-regular-webfont.ttf) format("truetype"),
         url(../fonts/montserrat-regular-webfont.svg#montserratregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

$matte: #414141;
$fresh: #CCDFCB;
$teal: #056571;
$watermelon: #FF6a5c;
$subtle: #9e9e9e;

// $app-background-color: #f3f3f3;
$app-background-color: $fresh;
$element-background-color: #fff;

$main-font-family: Montserrat;
// $navbar-background-color: #26a69a;
$navbar-background-color: $matte;

body {
  background-color: $app-background-color;
  font-family: $main-font-family;
}

.no-padding-left {
  padding-left: 0 !important;
}

@import 'list';
@import 'navbar';
