

@import '_overrides.scss';

// this has actually been deprecated in favor of green/blue
$matte: #414141;
$fresh: #CCDFCB;
$teal: #056571;
$watermelon: #FF6a5c;
$subtle: #9e9e9e;

// this the new color scheme
// blue
$bluewood: #2c3e50;
$spruce: #3d505b;
$shark: #1c2733;
$kashmir: #51779f;
$kashmir-border: #436788;
$cornflower: #a4c2f4;
// gray
$porcelain: #ecf0f1;
$silver: #b8b8b8;

// sidebar control variables
$sidebar-width: 220px;
$sidebar-width-closed: 50px;
$sidebar-width-closed-large: 80px;
$sidebar-bg: #283339;
// $sidebar-bg: #828485;
$sidebar-bg-active: #03c9a9;
$sidebar-fg-active: #a5fffa;
$sidebar-main-ff: 'Open Sans', sans-serif;
$sidebar-desc-ff: 'Roboto', sans-serif;
$sidebar-desc: #bfbfbf;

// header control variables
$header-height: 45px;
$page-header-size: 75px;

// $app-background-color: #f3f3f3;
$element-background-color: #fff;
$details-background-color: #f3f3f3;
// $main-font-family: Montserrat, sans-serif;
$main-font-family: Roboto, sans-serif;

body {
  background-color: #fff;
  font-family: $main-font-family;
}

.no-padding-left {
  padding-left: 0 !important;
}

.line-normal {
  line-height: normal !important;
  height: auto !important;
}

.caps {
  text-transform: uppercase;
}

@import 'list';
@import 'navbar';
@import 'animations';
@import 'sidebar';
@import 'page';
@import 'filter';
@import 'fonts';
@import 'materialIcons';
@import 'login';
