.tableContainer {
    height: 100%;
    float: left;
    width: calc(100% - 60px);
    margin: 0 30px;
}

.ReportTitle{
    text-align: center;
    font-size: 1.3125rem;
    font-weight: 700;
}

.tableScrollable {
    height: calc(100% - 71px);
    width: 100%;
    overflow: auto;

    .table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
        box-sizing: border-box;
    }

    th {
        text-decoration: none;
        text-align: left;
    }

    thead {
        display: table-header-group;
        width: 100%;
        font-size: 0.8125rem;
        font-weight: 700;
        color: #ab0300;

        tr {
            display: table-row;
        }

        th {
            top: 0;
            z-index: 10;
            position: sticky;
            background: #ffffff;
            padding: 22px 20px;
        }
    }

    td:nth-child(n) {
        padding: 18px 20px;
    }

    tr:nth-last-child(1) {
        border: none;
    }

    tbody {
        width: 100%;
        height: inherit;
        font-size: 0.8125rem;
        color: #303030;

        .scrollbox::-webkit-scrollbar {
            display: none;
        }

        tr {
            border-bottom: solid 1px #C6C6C6;

            &:hover {
                background: #F1F1F3;
            }
        }
    }
}
